<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../common.css" rel="stylesheet"/>
    <link href="./style.css" rel="stylesheet"/>
    <title>ViewKit Button</title>
</head>
<body>
<button class="vk-button component" hx-post="/actions/button-click" type="button">
    <span aria-hidden="true" class="vk-button-bg"></span>
    <span class="vk-button-content-area">
        <span class="vk-button-label">Primary</span>
      </span>
</button>
</body>
</html>
