<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../common.css" rel="stylesheet"/>
    <link href="./style.css" rel="stylesheet"/>
    <title>ViewKit Card</title>
</head>
<body>
<div class="vk-card component" hx-get="/data/card">
    <div class="vk-card-bg"></div>
    <div class="vk-card-content-area">
        <div class="vk-card-title">Card Title</div>
        <div class="vk-card-body">Body text</div>
    </div>
</div>
</body>
</html>
