<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>ViewKit Card</title>
  </head>
  <body>
    <div class="vk-card component" hx-get="/data/card">
      <div class="vk-card-bg"></div>
      <div class="vk-card-content-area">
        <div class="vk-card-title">Card Title</div>
        <div class="vk-card-body">Body text</div>
      </div>
    </div>
  </body>
</html>
