:root {
  --vk-bg: #fafafa;
  --vk-panel: #fafafa;
  --vk-border: #c6c6c6;
  --vk-text: #0c0c0c;
}

.component {
  background-color: var(--vk-panel);
  color: var(--vk-text);
  border: 1px solid var(--vk-border);
  padding: 8px;
}
