<style>
.appicon {
    position: relative;
    width: 39px;
    height: 39px;
}

.appicon-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 39px;
    height: 39px;
    border-radius: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.appicon-outline {
    position: absolute;
    left: 3px;
    top: 4px;
    width: 31px;
    height: 31px;
}

.appicon-ring-outer,
.appicon-ring-inner {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.appicon-ring-outer {
    left: 0;
    top: 0;
    width: 31px;
    height: 31px;
}

.appicon-ring-inner {
    left: 3px;
    top: 3px;
    width: 25px;
    height: 25px;
}

.appicon-line-v,
.appicon-line-h {
    position: absolute;
    background-color: #e8e8e8;
}

.appicon-line-v {
    left: 15px;
    top: -4px;
    width: 1px;
    height: 39px;
}

.appicon-line-h {
    left: -2px;
    top: 15px;
    width: 37px;
    height: 1px;
}
</style>

<div class="appicon">
    <div class="appicon-bg"></div>
    <div class="appicon-outline">
        <div class="appicon-ring-outer"></div>
        <div class="appicon-ring-inner"></div>
        <div class="appicon-line-v"></div>
        <div class="appicon-line-h"></div>
    </div>
</div>
