<style>
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
}

.dock {
    display: flex;
    flex-direction: row;
    height: 75px;
    margin-top: 60px;
    gap: 10px;
    padding: 18px;
    background-color: #ffffff;
    opacity: 60%;
    border-radius: 30px;
    box-sizing: border-box;
}

.app-icon {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #d9d9d9;
}
</style>

<body>
    <div class="dock">
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
        <div class="app-icon"></div>
    </div>
</body>
